*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.container{
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    min-height: 100%;
}

.header{
    min-height: 200px;
    background: darkcyan;
}

.menu li{
    list-style-type: none;
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    float: left;
}
.nav{
    width: 200px;
    height: 300px;
    background: darkblue;
    float: left;
}
.main{
    margin-left: 200px;
}
.main .block{
    width: 30%;
    height: 300px;
    outline: 1px solid black;
    float: left;
    margin: 1% 1.5%;
}

.clearfix{
    clear: both;
}

.clr{
    height: 200px;
}
.footer{
    height: 200px;
    background-color: #ccc;
    width: 1200px;
    margin: -200px auto 0;
}

@media screen and (min-width: 1200px) {
    .header{
        background: darkgreen;
    }
}
@media screen and (max-width: 600px){
    .main .block{
        width: 45%;
        margin: 2% 2.5%;
    }
    .menu li{
        float: none;
    }
}